{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'usuarios/style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Index</a></li>
      <li><a href="/tienda?session_token={{ request.session.session_key }}">Products</a></li>
      {% if fname %}
        <li><a href="/signout">Log out</a></li>
        {% if user.is_authenticated and user.is_staff %}
          <li><a href="/usuarios?session_token={{ request.session.session_key }}">Edit User</a></li>
          <li><a href="/productos/list_products?session_token={{ request.session.session_key }}">Edit Product</a></li>
        {% endif %}
      {% else %}
        <li><a href="/signup?session_token={{ request.session.session_key }}">Sign up</a></li>
        <li><a href="/signin?session_token={{ request.session.session_key }}">Sign In</a></li>
      {% endif %}
    </ul>
  </nav>
    <h3>Sign In</h3>

    <form action="/signin" method="post">
    {% csrf_token %}

        <label for="">Username</label>
        <input type="text" id="username" name="username" Required>
        <br>
        <label for="">Password</label>
        <input type="password" id="pass1" name="pass1" Required>
        <br>
        <button type="submit">Sign In </button>
    </form>
</body>
</html>